
html{
    --ua-pallete-1: #6caabf;
    --ua-pallete-2: #be3770;
    --ua-pallete-3: #ffafd7;
    --ua-pallete-4: #ffe2f0;
    --ua-pallete-5: #ffffff;
}

body, #sectHome {
    background-image: none;
}